.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body { 
    margin: 0; 
    font-family: 'Rubik';

}
h2 { margin: 0; }

header {
  background: url('./images/pattern-bg.png');
  text-align: center;
  color: whitesmoke;
  padding: 25px;
  height: 200px;
}

.form-input {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 25px;
}

.form-input input {
  padding: 16px;
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60vw;
}

.form-input button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  color: white;
  float: right;
  padding: 15px;
  border: none;
  cursor: pointer;
}

#info-container {
  margin: auto;
  width: 63vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  position: relative;
  top: 40px;
  color: black;
  padding: 25px;
  z-index: 2;
}

.info-box {
  height: max-content;
  width: 100%;
  text-align: center;
}
.info-box:not(:last-child) {
  padding-bottom: 15px;
}
.info-box h4 {
  margin: 0;
  color: hsl(0, 0%, 59%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 12px;
  padding-bottom: 5px;
}
.info-box p {
  font-weight: 900;
  font-size: 18px;
  margin: 0;
}

.api-data {
  font-size: 18px;
  font-weight: 700;
}

/* Loading */
.loading {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 15px;
}
.loading div {
  position: absolute;
  top: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: lightgray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}

@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@media only screen and (min-width: 600px) {
  #info-container {
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  
  .info-box {
    min-width: 100px;
    height: 80px;
    text-align: left;
  }

  .info-box:not(:first-child) {
    border-left: solid hsl(0, 0%, 59%) 1px;
    padding-left: 10px;
  }

  .info-box:last-child {
    padding-bottom: 15px;
  }

  .form-input input {
    width: 300px;
  }

  /* Loading */
  .loading div {
   top: 15px;
  }

}

@media only screen and (min-width: 910px) {
  .info-box {
    width: 200px;
  }
}



#mapid {
  height: 550px;
  z-index: 1;
}
